body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// Reset 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.full-screen-modal {
    background-color: black;
}